<div class="container mx-auto px-4 py-8 max-w-lg">
  <%= form_with(model: [:admin, produto], local: true, class: "space-y-6") do |form| %>
    <% if produto.errors.any? %>
      <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
        <strong class="font-bold"><%= pluralize(produto.errors.count, "erro") %> proibiu esse produto de ser salvo:</strong>
        <ul class="mt-3 list-disc list-inside">
          <% produto.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="space-y-4">
      <div class="field">
        <%= form.label :nome, class: "block text-sm font-medium text-gray-700" %>
        <%= form.text_field :nome, class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm", required: true %>
      </div>

      <div class="field">
        <%= form.label :descricao, class: "block text-sm font-medium text-gray-700" %>
        <%= form.text_area :descricao, class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" , required: true %>
      </div>

      <div class="field">
        <%= form.label :preco, class: "block text-sm font-medium text-gray-700" %>
        <%= form.number_field :preco, step: '0.01', class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm", required: true %>
      </div>

      <div class="field">
        <% if produto.image_file.attached? %>
        <strong class="block text-sm font-medium text-gray-700 mb-1">Imagem:</strong>
          <%= image_tag produto.image_file, class: "w-64 transform transition duration-300 hover:scale-105 mb-4" %>
        <% end %>
        <%= form.label :image_file, class: "block text-sm font-medium text-gray-700" %>
        <%= form.file_field :image_file, class: "mt-1 block w-full text-sm text-gray-700 border border-gray-300 rounded-md cursor-pointer focus:outline-none focus:ring-blue-500 focus:border-blue-500" %>
      </div>

      <div class="field">
        <%= form.label :category_id, "Categoria", class: "block text-sm font-medium text-gray-700" %>
        <%= form.collection_select :category_id, Category.all, :id, :name, {}, class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm", required: true %>
      </div>

      <div class="actions">
        <%= form.submit "Salvar", class: "w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition duration-300" %>
      </div>
    </div>
  <% end %>
</div>

