<h1><%= @produto.nome %></h1>

<p>
  <strong>Descrição:</strong>
  <%= @produto.descricao %>
</p>

<p>
  <strong>Preco:</strong>
  <%= @produto.preco %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @produto.category.name %>
</p>

<p>
  <strong>Image:</strong>
  <% if @produto.image_file.attached? %>
    <%= image_tag @produto.image_file, class: "w-64 transform transition duration-300 hover:scale-105" %>
  <% else %>
    No image uploaded
  <% end %>
</p>

<%= link_to 'Editar', edit_admin_produto_path(@produto) %> |
<%= link_to 'Voltar', admin_produtos_path %>
