<h1><%= @produto.nome %></h1>

<p>
  <strong>Descrição:</strong>
  <%= @produto.descricao %>
</p>

<p>
  <strong>Preco:</strong>
  <%= @produto.preco %>
</p>

<%= link_to 'Editar', edit_admin_produto_path(@produto) %> |
<%= link_to 'Voltar', admin_produtos_path %>
