<div class="container mx-auto px-4 py-8 max-w-3xl">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Categories" %>

  <div class="mb-6">
    <div class="flex justify-between items-center">
      <div class="flex space-x-4">
        <%= link_to "Nova Categoria", new_category_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white font-medium hover:bg-blue-700 transition duration-300" %>
        <%= link_to "Voltar", admin_produtos_path, class: "rounded-lg py-3 px-5 bg-gray-500 text-white font-medium hover:bg-gray-600 transition duration-300" %>
      </div>
    </div>
    <h1 class="font-bold text-4xl text-gray-800 mt-6">Categorias</h1>
  </div>

  <div id="categories" class="space-y-4">
    <% @categories.each do |category| %>
      <div class="bg-white shadow-md rounded-lg p-6">
        <%= render category %>
        <%= link_to 'Mostrar', edit_category_path(category), class: "text-blue-600 hover:text-blue-800 transition" %>
        <%= link_to 'Editar', edit_category_path(category), class: "text-yellow-600 hover:text-yellow-800 transition" %>
        <%= link_to 'Excluir', category_path(category), data: { turbo_method: :delete, turbo_confirm: "Tem certeza que quer excluir?" }, class: "text-red-600 hover:text-red-800 transition" %>
      </div>
    <% end %>
  </div>
</div>

